@{
    ViewBag.Title = "Order Failed";
}

<h2>Oops!</h2>
Thank you for placing your order. There was a problem with the payment gateway, but please call us by phone, and we'll ship your goods as soon as possible.
