.actionButtons A, INPUT.actionButtons 
{
	font: .8em Arial; color: White; margin: .5em;
	text-decoration: none; padding: .15em 1.5em .2em 1.5em;
	background-color: #353535; border: 1px solid black;
}

DIV#cart 
{ 
	float:right; margin: .8em; color: Silver;
	background-color: #555; padding: .5em .5em .5em 1em; 
}

DIV#cart A 
{ 
	text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em;
	margin-left: .5em; background-color: #333; color:White; border: 1px solid black;
}
